mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

button {
  display: flex;
  list-style: none;
}

.password-change-message {
  text-align: center;
  font: caption;
  font-size: large;
  font-style: italic;
  color: darkcyan;
}
